# Panel specific
.dev-config.json
dev-apps/
dev-logs/
logs/
*.log

# Dependencies
node_modules/
.pnp
.pnp.*

# Next.js & Builds
.next/
out/
build/
.next-env.d.ts
.vercel
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
credentials.txt